*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}
html {
    scroll-behavior: smooth;
}
p{
    font-size: 15px;
    font-weight: 100;
    color: rgb(83, 82, 82);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d91b7;
    padding: 10px 300px;
    color: white;
}

.logo{
    font-size: 20px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.nav-links li {
    padding: 10px 20px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
}

.nav-links li:hover{
    background-color: rgba(255, 255, 255, 0.171);
    color: rgb(100, 100, 100);
}

.nav-links li a:hover{

    color: rgb(100, 100, 100);
}

#home{
    background-color: rgba(255, 255, 255, 0.171);
} 


/* -------------------------------- welcome to squard container -------------------------------------------------------------------------------------------------------------------- */

.container{
    height: 95vh;
    width: 100%;
    background-image: url(https://bootstrapmade.com/demo/templates/Squadfree/assets/img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #3d90b702;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container h1{
    font-size: 60px;
}

.container button{
    margin: 40px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px 30px;
    background-color: transparent;
}
.container button i {
    font-size: 30px;
}
/* ------------------------------------main ---------------------------------------------------------------------------------------------------------- */

/* ------------------------------------section1 work ------------------------------------------------------------------------ */

.section1_work{
    display: flex;
    justify-content: center;
    min-height: 50vh;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.container1{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    gap: 30px;
   
}

.section1_work :first-child{
    max-width: 500px;
    padding-right: 30px;
}

.container1  h1{
    font-size: 2rem;
}

.container1  p{
    font-size: 1rem;
}

.container1  button{
    font-size: 1rem;
    padding: 10px px;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid #67B0D1;
    background-color: #67B0D1;
    color: white;
    font-weight: 100;
}

.container1 div h3{
    font-size: 20px;
}

.container1 div p{
    font-size: 15px;
}

.container1 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container1 div i{
    font-size: 40px;
    font-weight: 100;
    color: #67B0D1;
}

/* ----------------------------------------------------------------call to action----------------------------------------------------------------------- */

.section4_call_to_action{
    background-image: url(https://bootstrapmade.com/demo/templates/Squadfree/assets/img/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.section4_call_to_action h1{
    font-weight: 700;
    font-size: 30px;
}
.section4_call_to_action p{
    color: white;
}
.section4_call_to_action button{
    font-size: 1rem ;
    font-weight: 600;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;

}

.section4_call_to_action button:hover{
    background-color: #4EB478;
    border: 2px solid #4EB478;
    transition: all 0.2s ease-in-out;
}
/* --------------------------------------------------------------------services------------------------------------------------------------------
 */
.section5_services{
    padding: 70px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section5_services h1{
    font-size: 1.9rem;
    padding: 20px;
    color: #5ddce6;
}

.section5_services h1{
    /* font-size: 1.8rem; */
    padding: 20px;
}

.section5_services .container5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    gap: 40px;
    
}

.container5 .box{
    max-width: 30vh ;
    padding: 10px;
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.425); */
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgb(236, 236, 236);
}

.container5 .box:hover{
    box-shadow: 2px 2px 10px 5px rgb(160, 255, 255);
    transition: all .3s ease-in-out;
    background-color: #f5f7f7;
    transform: scale(1.01);
}

.container5 .box div h3, .container5 .box div p{
    margin: 10px;
    padding-bottom: 10px;
    color: rgb(75, 75, 75);
}

.container5 .box div p{
    padding-bottom: 20px;
}

/* ----------------------------------------section6 PORTFOLIO-------------------------------- */

.section6_services{
    padding: 70px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f3f3;
    gap: 20px;
}

.section6_services h1{
    font-size: 1.9rem;
    color: #67b0d1;
}


.section6_services .tags{
    padding: 2px 30px;
    display: flex;
    gap: 30px;
    background-color: #67b0d162;
    border-radius: 50px;
}

.section6_services .tags p{
    font-weight: 700;
    font-size: 0.9rem;
    padding: 10px 0px;
    color: rgb(75, 75, 75);
}

.tags:hover{
    color: #67b0d1;
}

.section6_services .tags :first-child{
    color: #67b0d1;
}

.section6_services .container6{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    gap: 40px;
    justify-content: center;
}

.container6_box{
   max-height: 25vh;
}

.container6_box img{
    max-height: 25vh;
 }


/* ----------------------------------------section7 review-------------------------------- */

.section7_review{
    background-color: #bde1f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 500px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.section7_review img{
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.308);
}

.section7_review p i span {
    font-size: 30px;
}

/* -----------------------------------------------section8_team---------------------------------------------- */

.section8_team{
    padding: 80px 80px; 
    display: flex;
    flex-direction: column;

}

.section8_team h1{
    text-align: center;
    font-size: 1.9rem;
    padding: 20px;
    color: #67b0d1;
}

.section8_team p{
    text-align: center;
    /* font-size: 1.9rem; */
    padding-bottom: 30px;
    /* color: #67b0d1; */
}

.section8_team .container8{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;


}

.container8_box{
    max-height: 40vh;
}
.container8_box img{
    border-radius: 10px;
    max-height: 40vh;
}

/* -----------------------------------------------section9_pricing---------------------------------------------- */

.section9_pricing{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 20px;

}

.section9_pricing h1{
    /* text-align: center; */
    font-size: 1.9rem;
    /* padding: 20px; */
    color: #67b0d1;

}

.section9_pricing p{
    padding-bottom: 30px
}

.container9{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 120px;
}

.container9_box{
    padding: 50px;
    /* background-color: rgb(188, 219, 231); */
    /* border: 2px solid black; */
    min-height: 50vh;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.116);
}

.container9_box h1{
    padding-bottom: 20px;
    font-weight: 100;
}

.container9_box div{
    text-align: left;
}

.container9_box div p {
    padding-bottom: 10px;
    color: rgb(0, 0, 0, 0.582)
}


#container9_box2{
    transform: scale(1.1);
    background-color:#67b0d1;
    color: white;
}

#container9_box2 p{
    color: white;
}

#container9_box2 h1{
    background-color: #67b0d1;
    color: white
}

.container9_box div p i{
    padding: 10px;
    color: #67b0d1;
}

#container9_box2 div p i{
    padding: 10px;
    color: #ffffff;
}


.container9_box button{
    margin: 20px;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.58);
    border: 2px solid rgba(0, 0, 0, 0.58);;
}



#container9_box2 button{
    color: white;
    border: 1px solid white;
}

#container9_box2 button:hover{
    background-color: white;
    color: #67b0d1;
    transition: all .3s ease-in-out;
}

.container9_box button:hover{
    background-color: white;
    color: #67b0d1;
    border: 2px solid #67b0d1;
    transition: all .3s ease-in-out;
}

/* -------------------------------------footer contact us -------------------------------------------------- */
footer{
    background-color: rgba(0, 0, 0, 0.842);
}

.contact{
    text-align: center;
    padding-top: 50px;
    color: #67b0d1;
    font-size: 30px;
}



.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;
}

.contact-info {
    flex: 1;
}

.contact-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.info p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label {
    font-size: 1rem;
}

.input-group input, 
.input-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: rgba(0, 0, 0, 0);

}

.input-group textarea {
    height: 150px;
}

.message_button{
    width: 20vh;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
}

.message{
    background-color: rgba(0, 0, 0, 0);
}

button:hover {
    background-color: rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    color: #000000;
}

footer{
    color: white;
}

.info_social p a{
    text-decoration: none;
    color: white;
}

.info_social p a:hover{
     color: #67b0d1;
     transition: all .3s ease-in-out;
     /* transform: scale(2); */
}

.info_social i {
    font-size: 30px;
}